NEXT_PUBLIC_API_BASE_URL=https://api.staging.exemplo.com/api/
NEXT_PUBLIC_CANONICAL_URL=https://staging.exemplo.com/
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_AUTH_REFRESH_COOKIE_NAME=cm_refresh
SEO_LAUNCH_MODE=PRELAUNCH
SEO_DEPLOYMENT_ENVIRONMENT=STAGING
SEO_PRODUCTION_INDEXING=DISABLED
SEO_PRODUCTION_SITEMAP=DISABLED
