NEXT_PUBLIC_API_BASE_URL=http://localhost/questao-pro-backend/api/
NEXT_PUBLIC_CANONICAL_URL=https://concursomestre.com/
SEO_LAUNCH_MODE=PRELAUNCH
SEO_DEPLOYMENT_ENVIRONMENT=STAGING
SEO_PRODUCTION_INDEXING=DISABLED
SEO_PRODUCTION_SITEMAP=DISABLED
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_FACEBOOK_APP_ID=
NEXT_PUBLIC_APPLE_CLIENT_ID=
NEXT_PUBLIC_APPLE_REDIRECT_URI=
NEXT_PUBLIC_AUTH_REFRESH_COOKIE_NAME=cm_refresh
